<h1>The Motorcycles I Want to Use</h1>
<% if @bookeds.empty? %>
  <h3>Looks like you don't any booked motorcycles buddy!</h3>
<% else %>
  <ul>
    <% @bookeds.each do |booked| %>
      <li><%= booked.offer.description %> <%= booked.start_date %> <%= booked.end_date %><%= link_to 'Details', offer_path(booked.offer) %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'All Motorcycles', offers_path %>
