<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 bg-white form">
      <h1 class="row justify-content-center pt-1 title">Book this Motorcycle: <%= @offer.description %></h1>
      <%= simple_form_for [@offer, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <div class="row justify-content-around mt-5">
          <%= f.button :submit, class: "btn-up rounded-pill" %>
          <%= link_to 'Motorcycle Details', offer_path(@offer), class: "btn-back rounded-pill" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
