<div class="container ">
  <div class="row justify-content-around mt-3">
    <%= link_to 'All Motorcycles', offers_path, class: "btn-book" %>
    <% if policy(Offer).create? %>
      <%= link_to 'Add', new_offer_path, class: "btn-new" %>
    <% end %>
  </div>

  <h1 class="text-center mt-3 font-weight-bold tex-color">My Motorcicles</h1>

  <div class="cards">
    <% if @garage.empty? %>
      <h3>Looks like you don't any motorcycles buddy!</h3>
    <% else %>
      <% @garage.each do |motorcycle| %>
        <%= link_to offer_path(motorcycle), class: "text-decoration-none" do %>
        <div class="card mb-3 index-cards">
          <%= image_tag "category-chopper.jpg", class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-text text-center font-weight-bold tex-info"><%= motorcycle.description %></h5>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>