<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 bg-white form">
      <h1 class="row justify-content-center pt-1 title">Add a New Motorcycle</h1>
        <%= simple_form_for(@offer) do |f| %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :lat %>
          <%= f.input :long %>
          <div class= "row justify-content-around mt-5">
            <%= f.button :submit, class: "btn-up  rounded-pill" %>
            <%= link_to 'Back', offers_path, class: "btn-back rounded-pill" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
