
<h1>The Motorcicle of Your Dreams</h1>

<h2>Description</h2>
<p><%= @offer.description %></p>

<h2>Price</h2>
<p><%= @offer.price %></p>

<h2>Location</h2>
<p><%= @offer.lat %> <%= @offer.long %></p>

<%= link_to 'Back', offers_path %>
<%= link_to 'Book', new_offer_booking_path(@offer) %>
<%= link_to 'Edit', edit_offer_path(@offer) %>
<%= link_to 'Delete', offer_path(@offer), method: :delete, data: { confirm: "Are you sure" } %>
